.text1{
    text-align: left;
    margin-left: 7px;   
    font-size: large;
}
.TITLE{
margin-left:8px;
}
.text2{
    width: 1250px;
    padding: 2px;
    padding: 3px 5px;
    margin-left: 12px;
    border-color: black;
}

.text3{
    text-align: left;
    margin-left: 15px;
}

.text4{
    width: 1258px;
    height: 180px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 15px;
    margin-left: 10px;
}

.Box{
    width: 1250px;
    padding: 2px;
    margin-left: 12px;
    border-color: black;
    padding: 3px 5px;
}

.Post{
    text-align: left;
    margin-left: 8px;   
}

.class1
{
    background-color: rgb(163, 163, 162);
}

.Button{

    
    padding: 8px;
    padding-bottom: 3px;
    background-color: grey;
    padding: 0 35px;
    margin-left: 1150px;
    font-size: medium;
    height: 20px;
}
.Tags
{
    margin-left: 8px;
}
